@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-sans);
  background-color: #000;
}

* {
  font-family: var(--font-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
